.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

h1 {
  padding-right: 29rem;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.row:nth-child(3) img {
  width: 12.5rem;
  height: 12.5rem;
}

.twoThird {
  flex-basis: 66%;
}

.oneThird {
  flex-basis: 33%;
}
