.box-container {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Karla";
}
.left,
.right {
  padding: 0 3rem;
}
.box {
  display: flex;
  width: 31rem;
}
.text {
  padding-top: 5rem;
}
.title {
  text-align: center;
}
h1 {
  font-size: 3rem;
  letter-spacing: 5px;
}
h2 {
  font-size: 19px;
  margin: 0;

  ;
}
.sub-head {
  padding: 0 34rem;
}
p {
  color: #454545;
  line-height: 2rem;
}
footer {
  text-align: center;
  border: solid 3px;
  width: 13rem;
  margin-top: 4rem;
  padding: 0.5rem;
  color: #d14f4d;
  font-size: 20px;
}
